html {
  font-family: "Times New Roman", Times, serif;
}

body {
    margin: 0px;
}

input {
    border: 1px solid #c5c5c5;
    border-radius: 2px;
}

nav {
    background-color: #c6c6c6;
    position: fixed;
    width: 100%;
    padding: 10px;
}

div.content {
    padding: 50px;
}

div.bottom {
    background-color: #c6c6c6;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    min-height: 200px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
  display: inline-block;
}

.some-block {
    background-color: #f2f2f2;
    border-color: #e4e4e4;
    padding: 10px;
}

.some-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.some-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.some-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.some-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.some-border {
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
}

.some-container {
  background-color: #f2f2f2;
  border-color: #e4e4e4;
  margin-bottom: 10px;
}

.some-container .row {
  padding: 10px;
}

.some-container .row:after {
  content: "";
  display: table;
  clear: both;
}

.some-container .row .col-label {
  margin-right: 10px;
}

.some-container .row .col-input {
  margin-right: 10px;
}

.some-button {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 4px;
}

.some-input {
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 4px;
}

.some-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.some-popup .some-popup-content {
  visibility: hidden;
  position: absolute;
  cursor: default;
  z-index: 1;
  max-height: 200px;
  //overflow-y: scroll;
  overflow: auto;
}

.some-popup .show {
  visibility: visible;
}
